.footer {
  position: fixed;
  width: 100%;
  top: auto;
  bottom: 0;
  background-color: #484850;
  height: 90px;
  text-align: center;
  line-height: 90px;
  font-size: 28px; }
  .footer ul {
    height: 90px; }
  .footer li {
    float: left;
    width: 20%; }
  .footer a {
    color: #fff; }
.footer .active a {
   color:red
}
